html, body {
  height: 100%;
  margin: 0;
  font: 40px sans-serif;
  color: #8396a5;
  user-select: none;
}

#score {
  height: 60px;
  width: 250px;
}

#field {
  display: grid;
  grid-template: repeat(3, 80px) / repeat(3, 80px);
  grid-gap: 5px;
  height: auto;
  width: auto;
  padding: 5px;
  background: #8396a5;
}

#field div {
  width: 80px;
  height: 80px;
  background: #e2e2e2;
  transition: background 1s;
}

#restart {
  height: 80px;
  width: 250px;
  background: #e2e2e2;
  outline: 5px solid #8396a5;
  transition: background 1s;
  visibility: hidden;
}

#field div:hover,
#restart:hover {
  background: #c5dde5;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.cur-pointer {
  cursor: pointer;
}

.m-bottom-10 {
  margin-bottom: 10px;
}