html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font: 40px sans-serif;
  color: #8396a5;
  user-select: none;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
}

#field {
  display: grid;
  grid-template: repeat(3, 80px) / repeat(3, 80px);
  grid-gap: 5px;
  height: auto;
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
  background: #8396a5;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #e2e2e2;
  transition: background 1s;
  cursor: pointer;
}

#restart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 250px;
  background: #e2e2e2;
  outline: 5px solid #8396a5;
  transition: background 1s;
  visibility: hidden;
  cursor: pointer;
}

.cell:hover,
#restart:hover {
  background: #c5dde5;
}
